// general styles
*{
    margin: 0px;
    padding: 0px;
}
//colors
$dark-blue: rgb(2, 2, 44);
$light-blue: rgb(133, 133, 150);

body{
    font-family: sans-serif helvetica;
    font-size: 16px;
    color: white;
    background-color: rgba(8, 151, 218, 0.644);

.containers{
    margin: 100px auto auto auto;
    max-width: 600px ;
    max-height: 800px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: $dark-blue;
    border-radius: 20px;

    .top{
        height: 80px;
        background-color: rgb(2, 2, 44);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 20px;
        .input-field{
            margin: 0 auto;
            width: 300px;

            .input{
                height: 20px;
                width: 200px;
                padding: 5px;
                background-color: rgb(218, 214, 214);
            }
        }
    }
    .bottom {
        margin: 0;
        min-height: 200px;
        background-color: rgb(218, 214, 214);
        padding: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: $dark-blue ;
    }
    .item{
        width: 550px;
        height: 20px;
        margin: 10px 0 10px 0;
        //background-color: rgb(184, 14, 14);
        color: $dark-blue ;
        //display: inline-block;
        padding: 8px;
        border-left-style: solid ;
        .item-text{
            display: inline-block;
           // background-color: yellow;
            width: 400px;
            height: 20px;
        }
        .form{
            display: inline-block;
            .checkbox{
                width: 25px;
                height: 25px;
                display: inline-block;
            }
            
            
    
        }
    

    }


    h1, h2{
        text-align: center;
    }

    .btn{
        width: 70px;
        height: 30px;
        color: $dark-blue;
        background-color: white;
        border-radius: 10px;
        outline: none;
        font-weight: bolder;
        font-size: 15px;
        display: inline-block;

    }

}


}
